body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(190, 190, 190);
    box-shadow: 0px -2px 20px 5px;
}

.header_content {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.header_title {
    font-size: 36px;
    color: rgb(0, 0, 0);
}

.flex_filler {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search_block {
    margin: 20px 0 0 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    box-shadow: 0px -2px 20px 5px;
}

.search_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search_input_field {
    height: 24px;
    font-size: 20px;
    width: 340px;
}

#submit_search_button {
    height: 30px;
    font-size: 20px;
}

#search_result {
    margin: 10px 0;
    height: 120px;
    width: 350px;
    border: 1px solid #ccc;
    font:16px;
    overflow: auto;
}

#search_result p {
    margin: 2px;
    padding: 5px 2px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

#search_result p:hover {
    background-color: #ccc;
}

#cards_wrapper{
    display: flex;
    flex-direction: column;
}

.card {
    padding: 10px;
    margin: 20px 0 0 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px -2px 20px 5px;
}

.card_title {
    font-size: 24px;
}

.shop_title {
    font-size: 24px;
}

.card_price_input input {
    width: 300px;
    height: 28px;
    font-size: 24px;
}

#submit_items_change_button {
    height: 30px;
    font-size: 20px;
}

#message_block {
    padding: 10px;
    margin: 20px 0 0 20px;
}

.message {
    font-size: 24px;
    background-color: #ff9595;
    padding: 5px;
    border-radius: 5px;
}

.message_ok {
    background-color: #6cff74;
}
