<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Repricer</title>
</head>
<body>
    <div class="header">
        <div class="header_content">
            <div class="header_title">
                Repricer
            </div>
            <div class="flex_filler"></div>
        </div>
    </div>

    <div class="content">
        <div class="search_block">
            <div class="search_content">
                <div class="search_input">
                    <input type="text" id="search_input_field">
                </div>
                
                <div class="submit_search">
                    <input type="button" id="submit_search_button" value="Choose title">
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>